@import '../../../styles/main.scss';
@import '../../../styles/index.scss';
@import '../../../styles/page.scss';
@import '../../../styles/about.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

.main-text {
  display: flex;
}

.main-text a {
  display: block;
  width: 50%;
}

.main-text a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
